<p id="notice"><%= notice %></p>

<div class="col-md-6 col-md-offset-4">
<p>
  <strong>
    <%= @game.name %>
  </strong>
</p>

<p>  
  <%= @game.description %>
</p>

<p>  
  <%= @game.draw %>
</p>
<!--<%= link_to 'Edit', edit_game_path(@game) %> |-->
<br>
<%= link_to 'Back', games_path %>
</div>
